@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.fire h1
{

    position: relative;
    font-size: 8em;
    z-index: 100;
    background-image: url(../img/fire.jpeg); 
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-transform: uppercase; 
    font-weight: 900; 
    -webkit-font-smoothing: antialiased; 
    background-repeat: repeat; 
}
.fire .content
{
    min-width: 320px;
    text-align: center;
    max-width: 800px;
}
.water h1
{

    position: relative;
    font-size: 8em;
    z-index: 100;
    background-image: url(../img/water.jpeg); 
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;  
    font-size: 120px; 
    text-transform: uppercase; 
    font-weight: 900; 
    -webkit-font-smoothing: antialiased; 
    background-repeat: repeat; 
}
.water .content
{
    min-width: 320px;
    text-align: center;
    max-width: 800px;
}
.rock h1
{

    position: relative;
    font-size: 8em;
    z-index: 100;
    background-image: url(../img/rock.jpeg); 
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 120px; 
    text-transform: uppercase; 
    font-weight: 900; 
    -webkit-font-smoothing: antialiased; 
    background-repeat: repeat; 
}
.rock .content
{
    min-width: 320px;
    text-align: center;
    max-width: 800px;
}
@media (max-width: 450px)
{
    .water h1,
    .rock h1
    {
        font-size: 5em;
    }
}